<h1>Latest Products</h1>
<ul>
    <% products.forEach(product=> { %>
        <li>
            <a href="/products/<%= product._id %>">
                <%= product.name %>
            </a> - $<%= product.price %> - Rating: <%= product.rating %>
        </li>
        <% }) %>
</ul>
<a href="/products">Back to all products</a>